*{
     margin: 0;
     padding: 0;
	 font-family: Viner Hand ITC;
	 font-size: 20px;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../lordshiva.jpg);
     height:100vh;
     background-size: cover;
     background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color:#000;
}

ul li.active a{
	background-color: #fff;
	color:#000;
}

.logo img{
	float: left;
	width: 150px;
	height: auto;
	position: absolute;
	top: 10%;
	left: 8%;
	transform: translate(-50%,-50%);
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title h1{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 51px;
}
.button{
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.button1{
	position: absolute;
	top: 20%;
	left: 20%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.button2{
	position: absolute;
	top: 30%;
	left: 17.5%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.title h2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h2{
	color: #fff;
	font-size: 51px;
	font-style: Arial Unicode MS;
}
.title h3{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h3{
	color: #fff;
	font-size: 51px;
	font-style: Arial Unicode MS;
}
.button3{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.button4{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.title h4{
	position: absolute;
	top: 20%;
	left: 35%;
	transform: translate(-50%,-50%);
}
.title h4{
	color: #fff;
	font-size: 51px;
	font-style: Arial Unicode MS;
}
.button5{
	position: absolute;
	top: 35%;
	left: 22%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.button6{
	position: absolute;
	top: 45%;
	left: 26.7%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.button7{
	position: absolute;
	top: 55%;
	left: 32.8%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.button8{
	position: absolute;
	top: 65%;
	left: 29.2%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.button9{
	position: absolute;
	top: 75%;
	left: 34.3%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.button10{
	position: absolute;
	top: 85%;
	left: 28.3%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.title h5{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h5{
	color: #fff;
	font-size: 51px;
	font-style: Arial Unicode MS;
}
p1{
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
}
p1{
	color: #fff;
	font-size: 40px;
	font-style: Arial Unicode MS;
}
p2{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}
p2{
	color: #fff;
	font-size: 25px;
	font-style: Arial Unicode MS;
}
.button20{
	position: absolute;
	top: 6.5%;
	left: 42%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid transparent;
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
p49{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}
p49{
	color: #fff;
	font-size: 36px;
	font-style: Arial Unicode MS;
}
p50{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
p50{
	color: #fff;
	font-size: 37px;
	font-style: Arial Unicode MS;
}
p51{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
}
p51{
	color: #fff;
	font-size: 33px;
	font-style: Arial Unicode MS;
}
p52{
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%,-50%);
}
p52{
	color: #fff;
	font-size: 33px;
	font-style: Arial Unicode MS;
}
p53{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%,-50%);
}
p53{
	color: #fff;
	font-size: 33px;
	font-style: Arial Unicode MS;
}
.logos img{
	float: left;
	width: 150px;
	height: auto;
	position: absolute;
	top: 32%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.main{
	max-width: 1200px;
	margin: auto;
}
p54{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}
p54{
	color: #fff;
	font-size: 33px;
	font-style: Arial Unicode MS;
}
p30{
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translate(-50%,-50%);
}
p30{
	color: #fff;
	font-size: 47px;
	font-style: Arial Unicode MS;
}
